{% extends "index.html" %}    
{% block leftsidebar %}
{% endblock %}
{% block main %}      
    <p>
      <form action="{{url_for('todolist.add_tasks')}}" method="POST">
          
          <div class="mb-3">
          <label for="task_title" class="form-label">Task:</label>
          <textarea rows="1" id="task_title" class="form-control"
                    name="task">
          </textarea>
          </div>
          <div class="mb-3">
          <label class="form-label">Urgency</label><br/>
          {%for id, name in statuses %}
          <div class="form-check-inline">
            <label class="form-label" for="{{id}}_{{name}}">{{name}}</label>
          <input id="{{id}}_{{name}}" type="radio" class="form-check-input" name="urgency" value="{{id}}" >
          </div>
          {%endfor%}
          </div>
          
          <div class="mb-3">
          <label for="start">Start date:</label>
            <input type="date" id="start" name="date_of_task" value="{{today_date}}" min="{{today_date}}" max="2022-12-31">
          </div>
          
          <div class="mb-3">
          <label for="points" class="form-label">Points To Remember</label>
          <textarea rows="20" id="points" class="form-control"
                    name="points">
          </textarea>
          </div>

          <div class="mb-3">
            <button type="submit" class="btn btn-primary">Add</button>
          </div>

      </div>
      </form>
    </p>
    
{% endblock %}

{% block rightsidebar %}
{% endblock %}
{% block quote %}
{% endblock %}
