 /*.logout {text-align: right;}*/
 .display-1 {text-align: center; font-family: Calibri;}
  body { background-color:#FFFAF0;}

	.options { font-style: italic; }
	.tableheader {font-family: Helvetica, Arial, sans-serif; font-size: 1.4rem; font-weight: bold; margin: 0 0 0.24em; letter-spacing: 0.1em; position: relative; }
	
	.table thead tr th.tableheaderlink {
		text-decoration: none;
		color: #000000;
		font-size: 1.4rem;
		margin: 0 0 0.24em;
		letter-spacing: 0.1em;
		position: relative;
	}
	
	.table thead tr th.tableheaderlink:hover {
		font-style: italic;
	}
			
	div.blockquote {text-align: center; font-family: Times New Roman; color: #000000; }
	.blockquote:after, footer a:after { height: 1px; }
	
	.task_points { width: 900px; padding: 10px; border-style: solid; margin: 0; }
	.taskpointsheader {font-family: Brush Script MT, cursive;}
	.task_header {font-family: Times New Roman, serif;}
	
    .button-container {
        display: flex;
        justify-content: space-between;
    }

    .button-container button {
        margin-right: 5px; /* Adjust the margin as needed */
    }

	.display-1 {margin-left: 400px;}
	.logout-link a {
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		text-decoration: none;
		color:#000000;
		font-size: 1.4rem;
	}
	
	.logout-link a:hover {
		color: #000000;
		font-style: italic;
		font-weight: bold;
	}